<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fhooe.mc.android.tetris" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tetris"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".StartMenu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HighscoreTable"
            android:label="@string/title_activity_highscore_table"
            android:parentActivityName=".StartMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.fhooe.mc.android.tetris.StartMenu" />
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options"
            android:parentActivityName=".StartMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.fhooe.mc.android.tetris.StartMenu" />
        </activity>
        <activity
            android:name=".BluetoothMenu"
            android:label="@string/title_activity_bluetooth_menu"
            android:parentActivityName=".StartMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.fhooe.mc.android.tetris.StartMenu" />
        </activity>
        <activity
            android:name=".MultiplayerActivity"
            android:label="@string/title_activity_multiplayer"
            android:parentActivityName=".StartMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.fhooe.mc.android.tetris.StartMenu" />
        </activity>
    </application>

</manifest>
